<nav class="flex flex-wrap items-center justify-between pb-5 ">

    <a href="/" class="text-2xl font-thin text-gray-900 uppercase ">htdocs<span class="text-gray-400">.dev</span></a>

    <ul>
        {% for entry in metadata.navigation %}
            <li class="inline">
                <a
         href="{{ entry.url }}"
         class="uppercase text-xl py-1 px-2 rounded ml-4 inline-block
         {{'bg-gray-700 text-white' if entry.url in page.url
         else 'text-gray-700 hover:text-gray-900'}}">
                    {{ entry.title }}
                </a>
            </li>
        {% endfor %}
        {% for entry in metadata.social %}
            <li class="inline ">
                <a class="px-1 mb-2 ml-4 align-text-bottom" href="{{entry.url}}" title="{{entry.title}}">{% fortawesomeBrand entry.icon,
            "w-5 inline-block text-gray-700 " %}</a>
            </li>
        {% endfor %}
    </ul>

</nav>