{% set postsList = blogPosts %}
<ul class="grid w-full mt-8 mb-4 gap-14 lg:grid-cols-1 md:grid-cols-1">
    {% for post in postsList %}
        <a class="group"  href="{{ post.url | url }}">
            <li class="p-8 border border-b-4 border-r-4 border-gray-500 rounded-lg border-t-1 border-l-1 bg-gray-50 group hover:bg-white">

                <div class="flex">
                    <div class="w-full">
                        <p class="mt-1">
                            <time class="font-thin " datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
                        </p>

                        <span class="text-3xl font-bold">{{ post.data.title }}</span>

                        <br>

                        <span class="text-gray-500" >{{ post.data.description }}</span>
                    </div>

                    <div class="shrink-0">
                        <img class="w-40 h-40 border rounded grayscale group-hover:grayscale-0" src="{{ post.data.image }}" alt="{{ post.data.title }}">
                    </div>

                </li>
            </a>
        {% endfor %}
    </ul>