@tailwind base;

@tailwind components;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer utilities {
  .list-interpunct > li:before {
    content: "ãƒ»";
    float: left;
    margin: 0 0 0 -0.9em;
    width: 0.9em;
  }

  @media (min-width: 992px) {
    .list-interpunct > li:before {
      margin: 0 0 0 -1.5em;
      width: 1.5em;
    }
  }
}

/* ul { @apply list-disc } */



.anchor hidden {
  display: block;
}

h1 {
  @apply mb-4 text-2xl;
}

h2 {
  @apply mb-3 text-xl pt-3;
}

p {
  @apply mt-4 mb-4;
}

code[class*=language-], pre[class*="language-"] {
  @apply mt-2 mb-6 ml-2 mr-8 text-sm pl-4;
  font-family: "Fira Code", "Source Code Pro", monospace;
  counter-reset: lineNumber;
}



code[class*=language-shell], pre[class*=language-shell] {
   color: #efefef;

}

code .highlight-line:before {
  -webkit-user-select: none;
  content: counter(lineNumber);
  counter-increment: lineNumber;
  display: inline-block;
  color: #646984;
  font-variant-numeric: tabular-nums;
  margin-right: 1.2em;
  padding-right: 1.2em;
  text-align: right;
  width: 2.4em;
  
}

.copy-code-button {
  color: #272822;
  background-color: #fff;
  border-color: #272822;
  border: 2px solid;
  border-radius: 3px 3px 0px 0px;

  /* right-align */
  display: block;
  margin-left: auto;
  margin-right: 0;

  margin-bottom: -2px;
  padding: 3px 8px;
  font-size: 0.8em;
}

.copy-code-button:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.copy-code-button:focus {
  /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See https://stackoverflow.com/a/25298082/1481479 */
  background-color: #e6e6e6;
  outline: 0;
}

.copy-code-button:active {
  background-color: #d9d9d9;
}

.highlight pre {
  /* Avoid pushing up the copy buttons. */
  margin: 0;
}

.footnotes {
  @apply text-sm mb-4 leading-7;
}

p a,
.footnotes a {
  @apply text-blue-700;
}

p a:hover,
.footnotes a:hover {
  @apply text-blue-500 underline;
}

.footnotes ol {
  @apply list-decimal pl-7;
}

.footnotes__ref[role="doc-noteref"]::after {
  content: "[" counter(footnotes) "]";
  counter-increment: footnotes;
  vertical-align: super;
  font-size: 0.6em;
  margin-left: 2px;
  text-decoration: underline;
  cursor: pointer;
}

@tailwind utilities;


