<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- https://github.com/joshbuchea/HEAD -->

        <!-- Recommended -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Elements -->
        <meta charset="utf-8">

        <!-- Meta -->
        <meta name="description" content="{{ metadata.description }}">
        <meta name="generator" content="11ty">

        <!-- Icons -->
        <!-- https://favicon.io/ -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}">
        <link rel="manifest" href="{{ '/site.webmanifest' | url }}">

        <title>{{ title or metadata.title }}</title>
        <link href="https://unpkg.com/prismjs@1.25.0/themes/prism-solarizedlight.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

        <link rel="stylesheet" href="{{ '/site.css' | url }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Source+Code+Pro&display=swap" rel="stylesheet">
        <script>
            document
                .querySelectorAll('pre > code')
                .forEach(function (codeBlock) {
                    var button = document.createElement('button');
                    button.className = 'copy-code-button';
                    button.type = 'button';
                    button.innerText = 'Copy';
                    console.log(codeBlock);
                    var pre = codeBlock.parentNode;
                    pre.insertBefore(button, codeBlock);

                });
        </script>
    </head>

    <body class="font-sans subpixel-antialiased leading-normal tracking-normal text-gray-900 ">
        <div class="container px-40">
            {% include "../components/navigation.njk" %}
            <div class="container pt-10 mx-auto leading-6">
                <div class="container mx-auto ">
                    {{ content | safe }}
                </div>
                <div class="fixed bottom-0 right-0 p-0.5 text-sm text-gray-400 border-2 border-gray-200 border-solid rounded footer">
                    <a class="hover:text-blue-400" href="#">11ty</a>, 
        <a class="hover:text-blue-400" href="#">tailwind</a>
                </body>
            </div>
        </div>
    </html>