---
title: Page
layout: layouts/base.njk
eleventyNavigation:
  key: pages
  order: 1
---

<article class="mt-16 prose md:prose-lg lg:prose-xl">
  <h1 class="text-3xl">
    {{ title }}
  </h1>
  {{ content | safe}}

</article>