---
title: Blog
layout: layouts/base.njk
eleventyNavigation:
  parent: posts
  order: 2
---

<h1 class="text-3xl font-extralight ">{{ title }}</h1>
{{ content | safe}}
<hr class="mt-10">

{% footnotes %}